{% extends "base.html" %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'css/debug.css' %}">
{% endblock headers %}

{% block content %}
    <div id="app">
        {% csrf_token %}
        <h4>Left Program</h4>
        <textarea wrap="off" rows="10" v-model="left"></textarea><br/>
        <h4>Right Program</h4>
        <textarea wrap="off" rows="10" v-model="right"></textarea><br/>
        <button @click="run">Run</button>
        <h2>[[ loading ]]</h2>

        <gameselect v-for="game in game_select" v-bind:game="game"
        @showgame="showGame"></gameselect>

        <h2 v-show="game_select.length">[[ result === 0 ? "Tie Game (0)" : (result > 0 ? `Right Wins (${result})` : `Left Wins (${result})`) ]]</h2>

        <div v-show="current_game.tape_len">Tape length [[current_game.tape_len]][[ current_game.polarity ? ", polarity inverted" : ""]]</div>

        <div v-show="current_game.tape_len">
            <canvas id="canvas" width="0" height="287"></canvas><br/>
            <button @click="playGame">[[ is_playing ? "■" : "▶" ]]</button>
            <input type="range" id="play_slider" min="0" max="100" value="0">
        </div>

        <div v-show="current_game.tape_len">
            <turn v-for="(turn, index) in current_game.turns" v-bind:turn="turn" v-bind:turn_num="index"></turn>
        </div>
    </div>


    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var got_left_prog = {% if left %} `{{ left }}` {% else %} "" {% endif %};
        var got_right_prog = {% if right %} `{{ right }}` {% else %} "" {% endif %};
    </script>
    <script src="{% static 'js/debug.js' %}"></script>

{% endblock content %}
