{% extends "base.html" %}

{% block content %}
    <div id="app">
        <h2>{{ profile.username }}</h2>

        {% if is_current %}
            <a class="button" href="{% url 'users:program' this_user %}">New</a>
        {% endif %}

        {% for program in programs %}
            <div>
                {{ program.name }}
                {{ program.updated }}
                {% if is_current %}
                    <a href="{% url 'users:program' profile.username %}?name={{ program.name }}"><button>Edit</button></a>
                {% endif %}
                <a href="{% url 'static_apps:debug' %}?left={{ profile.username }}.{{ program.name }}"><button>Play</button></a>
                <a href="{% url 'static_apps:raw' %}?author={{program.author}}&name={{program.name}}"><button>Raw</button></a>
            </div>
        {% empty %}
            <p>This user has no programs to show</p>
        {% endfor %}
    </div>
{% endblock content %}