{% extends "base.html" %}
{% load static %}

{% block headers %}
    <style>
        textarea {
            width: 100%;
            height: 512px;
        }
        .private-label {
            margin-left: 10%;
        }
    </style>
{% endblock headers %}

{% block content %}
    <div id="app">
        {% csrf_token %}
        <button @click="save">Save</button>
        <button @click="remove">Delete</button>
        <button @click="verify">Verify</button>
        <button @click="play">Play</button>
        <button>Test</button>
        <button>Submit</button>

        <br/>
        <h3 style="white-space: pre-wrap;">[[ err_msg ]]</h3>
        
        <input type="text" v-model="name"/>
        <span class="private-label">Private</span>
        <input type="checkbox" v-model="private"/>

        <br/>

        <textarea rows="40" v-model="content"></textarea>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const current_author = "{{ author }}";
        {% if is_new %}
            var is_new_program = true;
        {% else %}
            var is_new_program = false;
            var load_name = "{{ name }}";
        {% endif %}
    </script>
    <script src="{% static 'js/edit.js' %}"></script>
{% endblock content %}