{% extends "base.html" %}
{% load static %}


{% block content %}
    <h3>Scores</h3>
    <div id="app">
        {% csrf_token %}

        <div class="row">
            <strong>
                <div class="two columns">
                    <a @click="sortScores('rank_asc')">▲</a>
                    Rank
                    <a @click="sortScores('rank_des')">▼</a>
                </div>
                <div class="five columns">
                    <a @click="sortScores('name_asc')">▲</a>
                    Program
                    <a @click="sortScores('name_des')">▼</a>
                </div>
                <div class="one column">&nbsp;</div>
                <div class="two columns">
                    <a @click="sortScores('rank_asc')">▲</a>
                    Score
                    <a @click="sortScores('rank_des')">▼</a>
                </div>
                <div class="two columns">
                    <a @click="sortScores('points_asc')">▲</a>
                    Points
                    <a @click="sortScores('points_des')">▼</a>
                </div>
            </strong>
        </div>

        <program v-for="prog in hill_programs" v-bind:prog="prog"></program>

    </div>

    <script src="https://kit.fontawesome.com/130ffd39f1.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/score.js' %}"></script>
{% endblock content %}